<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belly Button Dashboard</title>
    <link rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" media="all" href="../static/css/styles.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>

   
</head>
<body>
    <div class="container">
        <div class="jumbotron"  >
                <h1><b>Belly Button Biodiversity Dashboard</b></h1>
                <hr>
                <p>
                    Use the interactive charts below to explore the dataset.
                </p>
        </div>
        <!-- row 1 : panel with news -->
        <div class="row" >
            <div class="col-md-2" >
			

				<h2>SELECT Sample</h2>
				<select id="selDataset" onchange="optionChanged(this.value)"></select>        
				<script>
					Plotly.d3.json('/names', function(error, data){
					if (error) return console.warn(error);

					var select = document.getElementById("selDataset"); 
			
					for(var i = 0; i < data.length; i++) {
					var opt = data[i];
					var el = document.createElement("option");
					el.textContent = opt;
					el.value = opt;
					select.appendChild(el);
					}})
		

				</script>
			
			
                <div class="panel-body" >
					<ul class="list-unstyled mt-3 mb-4">
					<li>Sample Metadata</li>
					<hr>
					<li id="md-age"></li>
					<li id="md-bbtype"></li>
					<li id="md-etn"></li>
					<li id="md-gnd"></li>
					<li id="md-loc"></li>
					<li id="md-id"></li>
					</ul>
				</div>                          		
			</div>
                  
                		
				
				<!--script src="plots.js"></script-->
			
					
            <div class="col-md-7" >
				<div id="pie"></div>
				
				<script>
					function init() {
				
				
						Plotly.d3.json('/samples/BB_940', function(error, otu_list){
						if (error) return console.warn(error);
			
							Plotly.d3.json('/otu', function(error, otu_desc){
							if (error) return console.warn(error);
							var desc = otu_desc;
						
						var  data = [{
						"labels": otu_list[0]['otu_ids'],
						"values": otu_list[0]['sample_values'],
						"type": "pie",
						"hovertext": desc
						}];
						var PIE = document.getElementById('pie');
						Plotly.plot(PIE, data);
				
						var trace = [{
						x: otu_list[0]['otu_ids'],
						y: otu_list[0]['sample_values'],
						mode: "markers",
						type: "scatter",
						name: "sample",
						hovertext: desc,
						marker: {
						color: otu_list[0]['otu_ids'],
						symbol: "circle",
						size: otu_list[0]['sample_values']
						}
						}];
				
						var layout = {
						xaxis: { title: "OTU_ID" },
						};
						var PLOT = document.getElementById('bubble');
						// Plot the chart to a div tag with id "plot"
						Plotly.plot(PLOT, trace, layout);
			
						})
						})
						
						Plotly.d3.json('/metadata/BB_940', function(error, meta_dict){
						if (error) return console.warn(error);
						
						var AGE = document.getElementById('md-age');
						var BBTYPE = document.getElementById('md-bbtype');
						var ETN = document.getElementById('md-etn');
						var GND = document.getElementById('md-gnd');
						var LOC = document.getElementById('md-loc');
						var SID = document.getElementById('md-id');

						d3.select("#md-age").text(`AGE: ${meta_dict.AGE}`)
						d3.select("#md-bbtype").text(`BBTYPE: ${meta_dict.BBTYPE}`)
						d3.select("#md-etn").text(`ETHNICITY: ${meta_dict.ETHNICITY}`)
						d3.select("#md-gnd").text(`GENDER: ${meta_dict.GENDER}`)
						d3.select("#md-loc").text(`LOCATION: ${meta_dict.LOCATION}`)
						d3.select("#md-id").text(`SAMPLEID: ${meta_dict.SAMPLEID}`)

						})
					}
			
					function optionChanged(dataset) {
						console.log(dataset);

						Plotly.d3.json('/metadata/' + dataset, function(error, meta_dict){
						if (error) return console.warn(error);
						
						var AGE = document.getElementById('md-age');
						var BBTYPE = document.getElementById('md-bbtype');
						var ETN = document.getElementById('md-etn');
						var GND = document.getElementById('md-gnd');
						var LOC = document.getElementById('md-loc');
						var SID = document.getElementById('md-id');		
						
						d3.select("#md-age").text(`AGE: ${meta_dict.AGE}`)
						d3.select("#md-bbtype").text(`BBTYPE: ${meta_dict.BBTYPE}`)
						d3.select("#md-etn").text(`ETHNICITY: ${meta_dict.ETHNICITY}`)
						d3.select("#md-gnd").text(`GENDER: ${meta_dict.GENDER}`)
						d3.select("#md-loc").text(`LOCATION: ${meta_dict.LOCATION}`)
						d3.select("#md-id").text(`SAMPLEID: ${meta_dict.SAMPLEID}`)
											

						})


						


						
						var PLOT = document.getElementById("bubble");
						var PIE = document.getElementById("pie");		
				
						
						Plotly.d3.json('/samples/' + dataset, function(error, otu_list){
						if (error) return console.warn(error);
						
						var labels = []
						var values = []		
						
						labels = otu_list[0]['otu_ids']
						values = otu_list[0]['sample_values']

						Plotly.d3.json('/otu', function(error, otu_desc){
						if (error) return console.warn(error);
						var desc = otu_desc;
						
						Plotly.restyle(PIE, "labels", [labels]);
						Plotly.restyle(PIE, "values", [values]);
						Plotly.restyle(PLOT, "x", [labels]);
						Plotly.restyle(PLOT, "y", [values]);	
						Plotly.restyle(PIE, "hoverinfo", [desc]);
						
						
						})

						})

					}
	
					init();
	
	
				</script>
            </div>


            <div class="col-md-12">
                
            <div id="bubble"></div>   
            </div>
  
        </div>
	</div>

</body>
</html>
